* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}

form {
    gap: 20px;
}

h1 {
    color: blueviolet;
    text-align: center;
    background-color: aqua;
}



.upload {
   
    background-color: blueviolet;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.upload:active {
    transform: scale(1.1);
}

